* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-family: "FredokaOne", sans-serif;
    font: 14px 'Manrope', sans-serif !important;
    line-height: normal;
    min-height: 100%;
    width: 100%;
    font-weight: 400;
    overflow-x: hidden;
    letter-spacing: 0.02em;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    color: #161616;
    text-decoration: none !important;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "FredokaOne";
    src: url(../fonts/FredokaOne-Regular.ttf);
}

@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}